:root {
  --btn-nav-color: #2F2F2F;
  --btn-back-hover: #2F2F2F;
  --btn-color: #2F2F2F;
  --btn-outlone-color: #2F2F2F;
  --btn-color: #2F2F2F;
  --button-revolutionze: #2F2F2F;

  --link-hover: #2F2F2F;

  --footer-a: #2F2F2F;
  --footer-background: #e4e4e41c;

  --shape-overlay: #e4e4e41c;
  --header-backg-link: #2F2F2F;

  --chevron-up: #2F2F2F;

  --preloader: #2F2F2F;

  --sub-title: #2F2F2F;

  --featured-link: #2F2F2F;
  --blog-link: #2F2F2F;
  
  --checkbox: #2F2F2F;

  --list-item-color: #2F2F2F;

  --call-to-action-btn: #2F2F2F;

  --swiper-pagination: #2F2F2F;

  --price-switch: #2F2F2F;

  --faq-switch: #2F2F2F;

  --not-found: #2F2F2F;

}