:root {
  --btn-nav-color: #f55e24;
  --btn-back-hover: #f55e24;
  --btn-color: #f55e24;
  --btn-outlone-color: #f55e24;
  --btn-color: #f55e24;
  --button-revolutionze: #f55e24;

  --link-hover: #f55e24;

  --footer-a: #f55e24;
  --footer-background: #ffdfb81c;

  --shape-overlay: #ffdfb81c;
  --header-backg-link: #f55e24;

  --chevron-up: #f55e24;

  --preloader: #f55e24;

  --sub-title: #f55e24;

  --featured-link: #f55e24;
  --blog-link: #f55e24;
  
  --checkbox: #f55e24;

  --list-item-color: #f55e24;

  --call-to-action-btn: #f55e24;

  --swiper-pagination: #f55e24;

  --price-switch: #f55e24;

  --faq-switch: #f55e24;

  --not-found: #f55e24;

}